/* Old Numberlist

.numberslist{
  cursor: pointer;
  font-size: 20px;
  line-height: 2em;
  border: 2px solid rgba(0,0,0,0.1);
  transition: all 100ms ease-in;
  position: relative;
  height: 5vw;
  width: 5vw;
  min-width: 55px;
  min-height: 55px;
  line-height: 40px;
  display: inline-block;
  border-radius:5px;
  margin: 2px;

}
.numberslist p{
  margin: 5px 0px;
}
.numberslist:hover p{
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  transform: scale(1.2,1.2);
  transform-origin: 50% 50%;
  color: white;
}
.numberslist .numbercircle{
  position: absolute;
  right:0px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  transform: scale(0,0);
  opacity: 1;
  background: red;
  transition: all 100ms linear;
  border-radius: 50%;
}
.numberslist:hover .numbercircle{
  transform: scale(1,1);
  opacity: 1;
}

*/
html, body {
  margin: 0;
  height: 100%;
}

body{
  background: black !important;
  width: 100%;
  min-width: 750px;
}

*:focus {
  outline: none;
}
#root, #root > div{
  height: 100%;
  margin: 0;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.main_bg {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #3a7bd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3a7bd5 , #3a6073); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3a7bd5 , #3a6073); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.lotterybg{
  background: url(lotterybg.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
.rowbox-container{
  max-width: 1100px;
  padding-top:60px;
  padding-bottom:60px;
  margin: auto;
}
.rowbox {
  height: 200px;
  width: 200px;
  background: #fff5fd;
  border: 3px solid deeppink;
  display: inline-block;
  box-shadow: 6px 6px 10px rgba(0,0,0,0.7);
  padding-top: 1px;

}

.rownumber{
  font-size: 26px;
  font-weight: bold;
  color: #fff5fd;
  background: deeppink;
  display: inline-block;
  height: 32px;
  width: 64px;
  line-height: 34px;
  margin-left: 2px;
  margin-top: 2px;
  vertical-align: top;
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.rownumber.complete{
  background: green;
}

.numberslist{
  border: 1px solid deeppink;
  color: deeppink;
  margin: 1px;
  cursor: pointer;
  font-size: 24px;
  line-height: 30px;
  height: 30px;
  width: 30px;
  display: inline-block;
  position: relative;
  border-radius: 2px;

}
.numberslist p{
  font-size: 18px !important;
}
.numberslist .numbercircle{
  position: absolute;
  right:0px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  transform: scale(0,0);
  opacity: 1;
  background: red;
  transition: all 100ms linear;
  border-radius: 50%;
}
.numberslist:hover .numbercircle{
  transform: scale(1,1);
  opacity: 1;
}
.numberslist:hover p{
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  transform: scale(1,1);
  transform-origin: 50% 50%;
  color: white;
}

.selectednumber{
  height: 40px;
  width: 40px;
  line-height: 40px;
  background: red;
  transition: all 100ms linear;
  border-radius: 50%;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  transform: scale(1.2,1.2);
  transform-origin: 50% 50%;
  color: white;
  margin: 8px;
  padding: 0px !important;
  display: inline-block;
  cursor: pointer;
}
.selectednumber:hover{
  box-shadow: inset 0px 0px 30px black;
}

.crossed{
  position: absolute !important;
  color: black;
  height: 100%;
  width: 100%;
  line-height: inherit !important;
  text-align: center !important;
  top: 0px !important;
  left: 0px;
  font-size: 28px;
  visibility: hidden;
  transform: scale(2);
  opacity: 0;
  transition: all 200ms ease-out;
}
.crossed.pickednumber{
  opacity: 1;
  transform: scale(1);
  visibility: visible;
  color: black;

}
.crossed.pickednumber.correct::after{
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  height: 38px;
  width: 38px;
  background-size: cover;
  background-image:url(correctcircle.png);

}

.resetbutton{
  margin-top:10px;
  width: 100%;
}
.numberlist.pickednumber{
  background: #ff008a;
  color: white;
  font-weight: bold;
  transition: all 300ms linear;
}
.reveal{
  transform: scale(2);
}
.mail-input{
  margin-top: 10px;
  width: 90% !important;
  display: inline-block !important;
  vertical-align: middle;
}
.validate-mail{
  width: 20px;
  vertical-align: middle;
  font-size: 18px;
  line-height: 30px !important;
  text-shadow: 0px 0px 1px black;
  float: left;
  padding: 0;
  margin: 6px;
  height: 30px;
  background: none !important;
}
.validate-mail.red{
  color: red;

}
.validate-mail.green{
  color: green;
}
.half{
  width: 52% !important;
}
.small_submit{
  width: 40% !important;
  margin-left: 10px !important;
}

.torsknipping-logo{
  background: url(torsknipping_white.png);
  height: 80px;
  float: left;
  width: 80px;
  background-size: cover;
}
.head-nav {
  min-height: 80px;
  color: white;
  width:100%;
  background: #00d2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #00d2ff , #3a7bd5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #00d2ff , #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: visible;
  box-shadow: 10px 10px 10px black;
  z-index: 10;
  box-shadow: inset 0px -1px 1px 0px rgba(255,255,255,0.2);
}
.front-bg{
  background: #7474BF; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #7474BF , #348AC7); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #7474BF , #348AC7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
  margin: 0;

}
.head-logo {
  height: 150px;
  width: 100%;
  background: url(torsknipping_main.png) no-repeat center;
  background-size: auto 90%;
}
.front-desc{
  padding: 20px 50px;
  background: rgba(244,244,244,1);
  margin: 40px auto;
  max-width: 800px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5), inset -1px -1px 1px white;
  border-radius: 3px;
}
.button-game{
  display: flex;
  align-items: center;
}
.button-game > div{
  margin: auto;
}

.gratislotto-header{
  float: left; margin-left: 50px;
  font-size: 56px;
  color: cyan;
  height:100%;
  line-height: 80px;
  text-transform: uppercase;
  font-family: 'Fredoka One', cursive;
  letter-spacing: 2px;
  text-shadow: 0px 0px 5px white;

}

.ball {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle at 50% 120%, #ffbac4, #d12531 10%, #9b0005 80%, #4b0004 100%);
  text-align: center;
}
.ball::before{
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
  -webkit-filter: blur(5px);
  z-index: 2;
}
.ball.add {
  background: white;
  background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
}
.ball p{
  color: white;
  font-size: 14px !important;
  font-family: Arial;
  line-height: 28px;
  font-weight: bold !important;
  text-shadow: 0px 0px 1px black;
}

.ball .shadow {
  position: absolute;
  width: 130%;
  height: 100%;
  left: -15%;
  background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
  -webkit-transform: rotateX(90deg) translateZ(-0px);
  -moz-transform: rotateX(90deg) translateZ(-0px);
  -ms-transform: rotateX(90deg) translateZ(-0px);
  -o-transform: rotateX(90deg) translateZ(-0px);
  transform: rotateX(70deg) translateZ(-15px);
  z-index: -1;
}
.stage {
  width: 28px;
  height: 28px;
  display: inline-block;
  margin: 3px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}
/*body {
  width: 300px;
  margin: 20px auto;
  background: linear-gradient(to bottom, rgba(100, 100, 100, 0.2) 0%, rgba(255, 255, 255, 0.5) 40%, #ffffff 100%);
  background-repeat: no-repeat;
}*/

/* Buttons*/
.button {
  font-family: 'Droid Sans', sans-serif;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: 1px solid rgba(0,0,0,0.4) ;
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5),
  0 0 1px 1px rgba(255,255,255,0.8),
  0 0 0 6px rgba(0,0,0,0.06),
  0 0 0 3px rgba(0,0,0,0.1);
  cursor: pointer;
  margin: 8px 6px 0px 10px;
  min-width: 250px;
  color: white;
}
.button.input{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left:2px;
  min-width: 0px !important;
}
.title {
  padding: 5px;
  float: left;
  color: #fff;
  font-weight: 800;
  font-size: 14px;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
  text-transform: uppercase;
  padding-right: 10px;
  border-right: 1px solid rgba(255,255,255,0.3);
  min-width: 200px;
}
.button.input .title{
 min-width: 0px;
}
.price {
  padding: 5px;
  float: right;
  color: rgba(0,0,0,0.4);
  font-weight: 800;
  font-size: 20px;
  text-shadow: 1px 1px rgba(255,255,255,0.3);
  text-transform: uppercase;
  border-left: 1px solid rgba(0,0,0,0.2);
  min-width: 50px;
}
.button:hover .price{
  color: white;
}
.bottom-button{
  margin-bottom: 30px !important;
}

/* colors */
.yellow {
  background: rgb(255,214,94);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZDY1ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZWJmMDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(255,214,94,1) 0%, rgba(254,191,4,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,214,94,1)), color-stop(100%,rgba(254,191,4,1)));
  background: -webkit-linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%);
  background: linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 );
}

.yellow:hover {
  background: rgb(254,191,4);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlYmYwNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmQ2NWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(254,191,4,1) 0%, rgba(255,214,94,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,191,4,1)), color-stop(100%,rgba(255,214,94,1)));
  background: -webkit-linear-gradient(top,  rgba(254,191,4,1) 0%,rgba(255,214,94,1) 100%);
  background: -o-linear-gradient(top,  rgba(254,191,4,1) 0%,rgba(255,214,94,1) 100%);
  background: -ms-linear-gradient(top,  rgba(254,191,4,1) 0%,rgba(255,214,94,1) 100%);
  background: linear-gradient(top,  rgba(254,191,4,1) 0%,rgba(255,214,94,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febf04', endColorstr='#ffd65e',GradientType=0 );
}

.green {
  background: rgb(143,200,0);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhmYzgwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NjhlMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(143,200,0,1) 0%, rgba(102,142,0,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(143,200,0,1)), color-stop(100%,rgba(102,142,0,1)));
  background: -webkit-linear-gradient(top,  rgba(143,200,0,1) 0%,rgba(102,142,0,1) 100%);
  background: -o-linear-gradient(top,  rgba(143,200,0,1) 0%,rgba(102,142,0,1) 100%);
  background: -ms-linear-gradient(top,  rgba(143,200,0,1) 0%,rgba(102,142,0,1) 100%);
  background: linear-gradient(top,  rgba(143,200,0,1) 0%,rgba(102,142,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc800', endColorstr='#668e00',GradientType=0 );
}
.green:hover {
  background: rgb(102,142,0);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2OGUwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4ZmM4MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(102,142,0,1) 0%, rgba(143,200,0,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,142,0,1)), color-stop(100%,rgba(143,200,0,1)));
  background: -webkit-linear-gradient(top,  rgba(102,142,0,1) 0%,rgba(143,200,0,1) 100%);
  background: -o-linear-gradient(top,  rgba(102,142,0,1) 0%,rgba(143,200,0,1) 100%);
  background: -ms-linear-gradient(top,  rgba(102,142,0,1) 0%,rgba(143,200,0,1) 100%);
  background: linear-gradient(top,  rgba(102,142,0,1) 0%,rgba(143,200,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#668e00', endColorstr='#8fc800',GradientType=0 );
}

.red {
  background: rgb(200, 23, 3);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhmYzgwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NjhlMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgb(200, 23, 3) 0%, rgb(142, 21, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(200, 23, 3)), color-stop(100%, rgb(142, 21, 0)));
  background: -webkit-linear-gradient(top, rgb(200, 23, 3) 0%, rgb(142, 21, 0) 100%);
  background: -o-linear-gradient(top, rgb(200, 23, 3) 0%, rgb(142, 21, 0) 100%);
  background: -ms-linear-gradient(top, rgb(200, 23, 3) 0%, rgb(142, 21, 0) 100%);
  background: linear-gradient(top, rgb(200, 23, 3) 0%, rgb(142, 21, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc800', endColorstr='#668e00',GradientType=0 );
}
.red:hover {
  background: rgb(200, 23, 3);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2OGUwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4ZmM4MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgb(165, 21, 0) 0%, rgb(200, 23, 3) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(165, 21, 0)), color-stop(100%, rgb(200, 23, 3)));
  background: -webkit-linear-gradient(top, rgb(165, 21, 0) 0%, rgb(200, 23, 3) 100%);
  background: -o-linear-gradient(top, rgb(165, 21, 0) 0%, rgb(200, 23, 3) 100%);
  background: -ms-linear-gradient(top, rgb(165, 21, 0) 0%, rgb(200, 23, 3) 100%);
  background: linear-gradient(top, rgb(165, 21, 0) 0%, rgb(200, 23, 3) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#668e00', endColorstr='#8fc800',GradientType=0 );
}

.element-inline{
  display: inline-block;
  margin: 0px 5px;
}
.fetch-container{
  display: inline-block;
  margin-top: 0px;
  float: right;
  flex-grow: 0 !important;
}
.fetch-input{
  float: left;
  width: 250px !important;
  padding: 0;
  margin: 10px -3px 4px 0px;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  height: 32px !important;
  padding-left: 10px;
}
.errormessage{
  color: yellow;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  font-size: 12px;
  font-style: italic;
  width: 100%;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 6px;
}
.no-pad{
   padding: 0 !important;
 }

.actions{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #7474BF; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #7474BF , #348AC7); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #7474BF , #348AC7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.actions > * {
  flex-grow: 1;
}
.disclaimer{
  padding: 5px;
  margin-top: 5px;
  border-top: 1px solid rgba(255,255,255,0.1);
}
.top-result {
  background: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  background: #757F9A; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #757F9A , #D7DDE8); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #757F9A , #D7DDE8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.5);
}
.top-result .small-balls {
  margin-top: 2px;


}
.statslink{
  margin-top: 6px;
  width: 200px;
}

.statoverview {
  text-align: center;
  padding:5px;
  color: #9c9cdc;

background: #141E30; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #141E30 , #243B55); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #141E30 , #243B55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.statsbox{
  border-radius: 20px;
  border: 1px solid rgba(156,156,220,1);
  box-shadow: 0px 0px 2px rgba(200,200,256,0.5);
  margin: 2px;
  padding: 10px;
}


/* Bootstrap Additions for 5 columns */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}
